<div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10 getInTouchContainer d-flex flex-row justify-content-between align-items-center">
                <div class="getInTouchText">
                    <h2>Let’s talk about your project</h2>
                    <p>Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.</p>
                </div>
                <div class="getInTouchButton">
                    <app-default-button>GET IN TOUCH</app-default-button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 footerMainContainer">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10 footerLinksContainer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="menuBarContainer d-flex flex-row justify-content-between align-items-center">
                            <div class="logoContainer">
                                <img src="assets/logo-light.png" />
                            </div>
                            <div class="navigationTabsContainer">
                                <ul class="d-flex flex-row">
                                    <li><a [routerLink]="['/company']">OUR COMPANY</a></li>
                                    <li class="routerLink"><a [routerLink]="['/locations']">LOCATIONS</a></li>
                                    <li class="routerLink"><a [routerLink]="['/contact']">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-sm-12 d-flex flex-row justify-content-between">
                        <div class="officeInfoContainer d-flex flex-row">
                            <div class="officeAddressText">
                                 <p class="boldText">Designo Central Office</p>
                                 <p>3886 Wellington Street</p>
                                 <p>Toronto, Ontario M9C 3J5</p>
                            </div>
                             <div class="officeContactText ms-md-5">
                                 <p class="boldText">Contact Us (Central Office)</p>
                                 <p class="boldText"> P : +1 253-863-8967</p>
                                 <p class="boldText"> M : contact@designo.co</p>
                             </div>
                         </div>
                         <div class="socialMediaContainer d-flex flex-row align-items-end">
                            <a><img src="assets/icon-facebook.svg" /></a>
                            <a><img class="ms-md-4" src="assets/icon-youtube.svg" /></a>
                            <a><img class="ms-md-4" src="assets/icon-twitter.svg" /></a>
                            <a><img class="ms-md-4" src="assets/icon-pinterest.svg" /></a>
                            <a><img class="ms-md-4" src="assets/icon-instagram.svg" /></a>
                         </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>