<div class="row">
    <div class="col-sm-12 mainCardsDisplayContainer">
        <div class="leftCardsContainer">      
            <h2>WEB DESIGN</h2>
            <h3>VIEW PROJECTS</h3>
        </div>
        <div class="rightCardsContainer">
            <div class="firstCardContainer">
                <h2>APP DESIGN</h2>
                <h3>VIEW PROJECTS</h3>
            </div>
            <div class="secondCardContainer">
                <h2>GRAPHIC DESIGN</h2>
                <h3>VIEW PROJECTS</h3>
            </div>
        </div>
    </div>
</div>