<div class="row">
    <div class="col-sm-12 d-flex flex-row justify-content-between mainCardsDisplayContainer">
        <div class="leftCardsContainer d-flex flex-column justify-content-center">
            <div class="navTextContainer">
                <h2>WEB DESIGN</h2>
                <div class="d-flex flex-row justify-content-center">
                    <p>VIEW PROJECTS</p>
                    <div class="arrowContainer">
                        <img src="../../../assets/icon-right-arrow.svg" />
                    </div>
                </div>
            </div>     
        </div>
        <div class="rightCardsContainer d-flex flex-column">
            <div class="firstCardContainer d-flex flex-column justify-content-center">
                <div class="navTextContainer">
                    <h2>APP DESIGN</h2>
                    <div class="d-flex flex-row justify-content-center">
                        <p>VIEW PROJECTS</p>
                        <div class="arrowContainer">
                            <img src="../../../assets/icon-right-arrow.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondCardContainer d-flex flex-column justify-content-center">
                <div class="navTextContainer">
                    <h2>GRAPHIC DESIGN</h2>
                    <div class="d-flex flex-row justify-content-center">
                        <p>VIEW PROJECTS</p>
                        <div class="arrowContainer">
                            <img src="../../../assets/icon-right-arrow.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>