@import "variables";

:host {
    display: block;
}

.mainCardsDisplayContainer {
    height: 700px;
    
    .leftCardsContainer,
    .rightCardsContainer {
        height: 100%;
        width: 50%;
    }

    .leftCardsContainer {
        margin-right: $spacing-medium;
    }
    
    .secondCardContainer {
        margin-top: 10px;
    }

    .secondCardContainer,
    .firstCardContainer {
        height: 50%;
    }

    .leftCardsContainer {
        background-image: url(/assets/image-web-design-large.jpg);
   }

   .firstCardContainer {
        background-image: url(/assets/image-app-design.jpg);
    }

    .secondCardContainer {
        background-image: url(/assets/image-graphic-design.jpg);
    }

    .leftCardsContainer,
    .firstCardContainer,
    .secondCardContainer {
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $containerBorderRadius;
        text-align: center;
        position: relative;

        .navTextContainer {
            color: $white;
            z-index: 2;

            p {
                letter-spacing: 3px;
                margin-bottom: 0;
            }
        }
   }

   .leftCardsContainer:before,
   .firstCardContainer:before,
   .secondCardContainer::before {
       content: "";
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.5);
       border-radius: $containerBorderRadius;
       z-index: 1;
   }

    .leftCardsContainer:hover::before,
    .firstCardContainer:hover::before,
    .secondCardContainer:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(231, 129, 107, 0.6);
        border-radius: $containerBorderRadius;
        z-index: 1;
    }
}

.arrowContainer {
    margin-left: $spacing-medium;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        height: 10px;
        width: auto;
    }
}
