<div class="row">
    <div class="col-sm-12 d-flex flex-row justify-content-between mainCardsDisplayContainer">
        <div class="leftCardsContainer d-flex flex-column justify-content-center">     
            <div class="navTextContainer">
                <h2>WEB DESIGN</h2>
                <h3>VIEW PROJECTS</h3>
            </div> 
        </div>
        <div class="rightCardsContainer d-flex flex-column">
            <div class="firstCardContainer d-flex flex-column justify-content-center">
                <div class="navTextContainer">
                    <h2>APP DESIGN</h2>
                    <h3>VIEW PROJECTS</h3>
                </div>
            </div>
            <div class="secondCardContainer d-flex flex-column justify-content-center">
                <div class="navTextContainer">
                    <h2>GRAPHIC DESIGN</h2>
                    <h3>VIEW PROJECTS</h3>
                </div>
            </div>
        </div>
    </div>
</div>