<div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10">
        <div class="menuBarContainer">
            <div class="logoContainer">
                <img src="../../../assets/logo-dark.png" />
            </div>
            <div class="navigationTabsContainer">
                <ul>
                    <li><a [routerLink]="['/company']">OUR COMPANY</a></li>
                    <li class="routerLink"><a [routerLink]="['/locations']">LOCATIONS</a></li>
                    <li class="routerLink"><a [routerLink]="['/contact']">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>