<div class="row justify-content-sm-center">
    <div class="col-sm-12">
        <div class="menuBarContainer d-flex flex-row justify-content-between align-items-center">
            <div class="logoContainer">
                <img src="assets/logo-dark.png" />
            </div>

            <div class="navigationTabsContainer">
                <ul class="d-flex flex-row">
                    <li><a [routerLink]="['/company']">OUR COMPANY</a></li>
                    <li class="routerLink"><a [routerLink]="['/locations']">LOCATIONS</a></li>
                    <li class="routerLink"><a [routerLink]="['/contact']">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>