<div class="row">
    <div class="col-sm-12 d-flex flex-row justify-content-center">
        <div class="passionateCardContainer d-flex flex-column align-items-center p-sm-0 p-md-5">      
            <div class="cardImageContainer circularBgLeft mb-md-5">
                <img src="/assets/illustration-passionate.svg"/>
            </div>
            <div class="cardTextContainer">
                <h3 class="mb-md-3">Passionate</h3>
                <p>Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge
                    art, design, and technology into exciting new solutions.</p>
            </div>
        </div>

        <div class="resourcefulCardContainer d-flex flex-column align-items-center p-sm-0 p-md-5">
            <div class="cardImageContainer circularBgBottom mb-md-5">
                <img src="/assets/illustration-resourceful.svg"/>
            </div>
            <div class="cardTextContainer">
                <h3 class="mb-md-3">Resourceful</h3>
                <p>Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer
                    collaboration. It guarantees superior results that fulfill our clients’ needs.</p>
            </div>
        </div>

        <div class="friendlyCardContainer d-flex flex-column align-items-center p-sm-0 p-md-5">
            <div class="cardImageContainer circularBgTop mb-md-5">
                <img src="/assets/illustration-friendly.svg"/>
            </div>
            <div class="cardTextContainer">
                <h3 class="mb-md-3">Friendly</h3>
                <p>We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we
                    strive to give them the best experience a company can provide.</p>
            </div>
        </div>
    </div>
</div>