/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:host {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 2px;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 5px;
}

.largeMarginBottom {
    margin-bottom: 150px;
}

.row,
.col,
.col-8,
.col-10,
.col-11,
.col-12,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-10,
.col-md-12 {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;

}

.row > * {
    margin: 0;
    padding: 0;
}
