
<div class="row justify-content-sm-center largeMarginBottom">
    <div class="col-11 col-sm-11 col-md-10">
        <app-large-info-bubble></app-large-info-bubble>
    </div>
</div>

<div class="row justify-content-sm-center largeMarginBottom">
    <div class="col-11 col-sm-11 col-md-10">
        <app-card-pages-display></app-card-pages-display>
    </div>
</div>

<div class="row justify-content-sm-center largeMarginBottom">
    <div class="col-11 col-sm-11 col-md-10">
        <app-about-us-cards></app-about-us-cards>
    </div>
</div>

<div class="row justify-content-sm-center">
    <div class="col-sm-12">
        <app-page-footer></app-page-footer>
    </div>
</div>